.Post--container {
  /*
  display: inline-block;
  */
  margin: 8px;
  margin-left: 24px;
}

.Post {
  margin-bottom: 16px;
}

.Post--header {
  margin-bottom: 16px;
}

.Post--tags {
  display: flex;
}

.Post--body {
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
  padding: 24px;
}

.Post--actionBar {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.Post--voteButton--hasVoted {
  color: lightgreen;
}
