.Post {
  /*
  display: inline-block;
  */
}

.Post--body {
  display: flex;
  justify-content: flex-start;

  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
  margin: 8px;
  padding: 24px;
}

.Post--comments {
}
