.CommentNode {
  border-left: 1px solid white;
  list-style-type: none;
  margin-bottom: 8px;
  margin-left: 8px;
  padding-left: 16px;
}

.CommentNode--topLevel {
  border: none;
  padding: 0;
  margin-bottom: 12px;
}

.CommentNode--collapseButton {
  cursor: pointer;
  margin-right: 4px;
}

.CommentNode--collapseButtonSpacer {
  user-select: none;
}

.CommentNode--container {
  display: flex;
}
