:global(body) {
  background-color: #282c34;
  color: rgb(203, 203, 203);
}

:global(p),
:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6) {
  margin: 0;
}

:global(ul) {
  margin: 0;
}

:global(*),
:global(*::before),
:global(*::after) {
  box-sizing: border-box;
}

:global(a) {
  color: rgb(203, 203, 203);
  text-decoration: none;
}

/*
:global(a:hover) {
  color: black;
}
*/

.App {
  text-align: center;
  background-color: blue;
}
